header {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    padding: 20px 50px;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: -7px -7px 17px #fff,
                7px 7px 17px rgba(70, 70, 70, 0.15);
    box-sizing: border-box;
}

.logo {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #7ee1ff;
    float: left;
    cursor: pointer;
    line-height: 50px;

    /* width: ;
    border-radius: 10px;
    box-shadow: -7px -7px 17px #fff,
    7px 7px 17px rgba(70, 70, 70, 0.15); */

    padding: 0 15px;
    transition: all 0.4s;

    border-radius: 10px;
    box-shadow: -7px -7px 17px #fff,
    7px 7px 17px rgba(70, 70, 70, 0.15);
}

.logo:hover {
    border-radius: 10px;
    box-shadow: 7px 7px 17px #fff,
    -7px -7px 17px rgba(70, 70, 70, 0.15);
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: -7px -7px 17px #fff,
    7px 7px 17px rgba(70, 70, 70, 0.15);
}

.nav a, li {
    font-size: 20px;
    color: rgb(247, 189, 255);
    list-style: none;
}

li a {
    padding: 0 20px;
    margin-top: 0%;
    display: block;
    transition: 0.5s all linear;
}

li a:hover, li a.nav-home {
    color: rgb(255, 146, 231);
    font-size: 22px;
}

/* section {
    position: absolute;
    width: 100%;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background-image: url('../images/wave.png');
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: wave 30s linear infinites;
} */