.intro {
  display: flex;
  justify-content: space-between;
}

.intro h1,
.intro p {
  animation: var(--fade);
}

.intro h1 {
  animation-delay: var(--delay0);
}

.intro p:nth-child(2) {
  animation-delay: var(--delay1);
}

.intro p:nth-child(3) {
  animation-delay: var(--delay2);
}

.intro * {
  width: fit-content;
}

.image {
  border-radius: 999px;
  z-index: 1;
  height: fit-content;
  height: 75px;
  width: 75px;
  --img-blur: 42px;
  --img-scale: 1.5;
  --img-transition-duration: 1.2s;
  display: block;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  padding-bottom: var(--img-aspect-ratio);
}

.ethos,
.content_container {
  margin-top: 100px;
}

.ethos h2,
.ethos p,
.content_container h2,
.content_container p {
  animation: var(--fade);
}

.ethos a {
  color: var(--grey0);
}

.ethos > h2,
.content_container > h2 {
  margin-bottom: 30px;
  animation-delay: var(--delay3);
}

.ethos p {
  margin: 10px 0;
}

.ethos p:nth-child(2) {
  animation-delay: var(--delay4);
}

.ethos p:nth-child(3) {
  animation-delay: var(--delay5);
}

.ethos p:nth-child(4) {
  animation-delay: var(--delay6);
}

.ethos p:nth-child(6) {
  animation-delay: var(--delay8);
}

.blur {
  inset: 0;
  position: absolute;
  display: block;
  max-width: 100%;
  width: 100%;
}

.blur {
  font-size: 0;
  opacity: 0;
}

.blur_down .blur,
.blur_down .image {
  filter: blur(var(--img-blur));
  transform: scale(var(--img-scale));
}

@media (prefers-reduced-motion: no-preference) {
  .blur_down .blur {
    transition: var(--img-transition-duration) ease;
    transition-property: filter, opacity, transform;
    will-change: filter, transform;
  }
}

.blur_down.loaded .blur {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.wave {
  color: var(--grey4);
  margin: 10px 0;
  animation: var(--fade);
  animation-delay: var(--delay7);
}

.socials {
  margin-top: 24px;
  font-size: 14px;
}

.social > svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: var(--grey4);
  transition: 0.1s linear;
}

.social {
  animation: var(--fade);
}

.social:nth-child(1) {
  animation-delay: var(--delay9);
}

.social:nth-child(2) {
  animation-delay: var(--delay10);
}

.social:nth-child(3) {
  animation-delay: var(--delay11);
}

.social:nth-child(4) {
  animation-delay: var(--delay12);
}

.social:hover svg {
  color: var(--grey3);
}

.content {
  display: flex;
  margin-bottom: 10px;
  animation: var(--fade);
}

.content:nth-child(2) {
  animation-delay: var(--delay14);
}

.content:nth-child(3) {
  animation-delay: var(--delay15);
}

.content:nth-child(4) {
  animation-delay: var(--delay16);
}

.box {
  margin-bottom: 20px;
  width: fit-content;
}

.box > a {
  width: fit-content;
}

.content > p {
  color: var(--grey4);
  margin-right: 100px;
}

.content h3 {
  margin-bottom: 10px;
  width: fit-content;
}

.all {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  animation: var(--fade);
  animation-delay: var(--delay17);
}

.all > svg {
  margin-left: 5px;
  transition: 0.1s linear;
}

.all:hover svg {
  transform: translateX(5px);
}

@media screen and (max-width: 768px) {
  .content > p {
    margin-right: 50px;
  }
}

@media screen and (max-width: 425px) {
  .content > p {
    margin-right: 25px;
  }
}
