---
import Back from '@components/Icons/Back'
import Blog from '@components/Blog'
import Wrapper from '@components/Layouts/Wrapper/Wrapper.astro'
import styles from '@css/modules/post.module.css'
import '@css/globals.css'

const allPosts = await Astro.glob('./*.mdx')
const sortedPosts = allPosts.sort((a, b) =>
  a.frontmatter.published < b.frontmatter.published ? 1 : -1
)
---

<Wrapper
  path='/blog'
  title='Writing'
  description='Learning things, and then teaching others.'
>
  <header>
    <a href='/' class={styles.index}><Back />Index</a>
    <h1>Writing</h1>
    <p>Learning things, and then teaching others.</p>
  </header>
  <main>
    <Blog posts={sortedPosts} client:load />
  </main>
</Wrapper>
