.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: var(--wrapper);
}

.image {
  border-radius: 20px;
  overflow: hidden;
}

.section {
  display: flex;
  margin-top: 75px;
  width: 750px;
}

.title {
  font-size: 16px !important;
}

.content {
  margin-left: var(--about-padding);
  width: 100%;
}

.section h1,
.section h2 {
  width: 140px;
  color: var(--grey5);
}

.section p {
  margin-top: 10px;
  width: 100%;
}

.section a {
  width: fit-content;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.extra_margin {
  margin-bottom: 50px;
}

.extend {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  margin-top: 50px;
}

.extend > svg {
  margin-left: 5px;
  transition: 0.1s linear;
}

.extend:hover svg {
  transform: translateX(5px);
}

.map_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: var(--about-padding);
  width: 100%;
}

.map {
  width: 100%;
  position: relative;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map > div:last-child {
  width: 100%;
  height: 100%;
}

.marker {
  width: 30px;
  height: 30px;
  background-color: #3579f6;
  z-index: 1;
  position: absolute;
  border-radius: 999px;
  border: 3px solid var(--grey0);
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  background: var(--grey1);
  color: var(--grey9);
  cursor: pointer;
}

.town {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  width: 100%;
}

.town > a {
  text-decoration: none;
  margin-left: 5px;
  color: var(--grey4) !important;
}
