.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--wrapper);
}

.image:first-of-type {
  transform: rotateZ(-3deg);
  z-index: 1;
}

.image:last-of-type {
  transform: rotateZ(3deg);
}

.image {
  border-radius: 20px;
  overflow: hidden;
}

.section {
  display: flex;
  margin-top: 75px;
  width: 750px;
}

.title {
  font-size: 16px !important;
  margin-bottom: 5px;
  color: var(--gray0);
}

.content {
  margin-left: var(--about-padding);
  width: 100%;
}

.section > h1,
.section > h2 {
  width: 140px;
  color: var(--gray5);
}

.section p {
  margin-top: 0px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.wrapper a {
  text-decoration: none;
}

.extra_margin {
  margin-bottom: 50px;
}

.extend {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  margin-top: 50px;
}

.extend > svg {
  margin-left: 5px;
  transition: 0.1s linear;
}

.extend:hover svg {
  transform: translateX(5px);
}

.map_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: var(--about-padding);
  width: 100%;
}

.map {
  width: 100%;
  position: relative;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphics {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
  z-index: 1;
}

.cloud {
  position: absolute;
  opacity: 0.2;
  filter: blur(4px) brightness(0.5);
  animation: cloud 120s linear infinite;
}

.plane,
.plane_shadow {
  position: absolute;
  animation-delay: 5s;
}

.plane {
  animation: plane 30s linear infinite;
}

.plane_shadow {
  animation: plane_shadow 30s linear infinite;
}

.map > div:last-child {
  width: 100%;
  height: 100%;
}

.marker {
  width: 28px;
  height: 28px;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  position: absolute;
}

.marker > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 999px;
  background: #679bff;
  opacity: 0.2;
  animation: pulse 4s ease-out infinite;
  width: 0.75rem;
  height: 0.75rem;
}

.dot {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: white;
  box-shadow: 0 16px 31px rgb(0 0 0 / 13%),
    0 10.3704px 18.1551px rgb(0 0 0 / 10%),
    0 6.16296px 9.87407px rgb(0 0 0 / 8%), 0 3.2px 5.0375px rgb(0 0 0 / 7%),
    0 1.3037px 2.52593px rgb(0 0 0 / 5%), 0 0.296296px 1.21991px rgb(0 0 0 / 3%);
}

.dot > div {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 999px;
  background-color: #679bff;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  background: var(--gray1);
  color: var(--gray9);
  cursor: pointer;
}

.town {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  width: 100%;
  margin-top: 10px !important;
}

.town > a {
  text-decoration: none;
  margin-left: 5px;
  color: var(--gray4) !important;
}

.link {
  width: 36px;
  height: 36px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--gray0);
  cursor: pointer;
  position: relative;
}

.link p {
  position: absolute;
  opacity: 0;
  transform: translateX(35px) translateZ(0px);
  color: var(--gray9);
  margin: 0px 5px 0px 5px;
}

.arrow {
  height: 18px;
  width: 18px;
  position: absolute;
  right: 9px;
  color: var(--gray9);
}

.link:hover {
  padding: 0px 7px;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  35% {
    transform: translate(-50%, -50%) scale(8);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(8);
    opacity: 0;
  }
}

@keyframes cloud {
  0% {
    transform: translate(-350px, -350px);
  }
  25% {
    transform: translate(350px, 350px);
  }
  50% {
    transform: translate(600px, -350px);
  }
  75% {
    transform: translate(-400px, 350px);
  }
  100% {
    transform: translate(-350px, -350px);
  }
}

@keyframes plane {
  0% {
    transform: translate(50px, 350px) rotate(30deg);
  }
  40% {
    transform: translate(286.71px, -60px) rotate(30deg);
  }
  100% {
    transform: translate(286.71px, -60px) rotate(30deg);
  }
}

@keyframes plane_shadow {
  0% {
    transform: translate(50px, 410px) rotate(30deg);
  }
  40% {
    transform: translate(286.71px, 0px) rotate(30deg);
  }
  100% {
    transform: translate(286.71px, 0px) rotate(30deg);
  }
}

@media (max-width: 1024px) {
  .section h1,
  .section h2,
  .section p {
    font-size: 14px !important;
  }
}

@media (max-width: 767px) {
  .image:first-of-type {
    transform: rotateZ(0deg);
  }

  .image:last-of-type {
    display: none;
  }

  .section {
    flex-direction: column;
    width: 90%;
  }

  .section > h1,
  .section > h2 {
    margin-bottom: 20px;
  }

  .section > h1,
  .section > h2 {
    width: fit-content;
    font-size: 14px;
  }

  .marker {
  }

  .extend {
    font-size: 14px;
  }
}
