.blog pre code {
  padding: 0px;
  color: var(--grey4);
  border: initial;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--grey4);
}

.token.regex,
.token.important,
.token.variable,
.token.function,
.token.class-name,
.token.atrule,
.token.attr-value,
.token.keyword,
.token.tag,
.token.number,
.token.property,
.token.boolean,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--grey0);
}

.rehype-code-title {
  padding: 12px 20px;
  background-color: var(--grey8);
  color: var(--grey0);
  font-family: var(--font-mono);
  font-size: 12px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid var(--grey8);
  border-bottom-width: 0px;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--grey4);
  font-family: var(--font-mono);
  font-size: 12px;
}

.blog p {
  line-height: 1.7;
  margin: 15px 0;
}

.blog h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0;
}

.blog pre {
  padding: 20px;
  background-color: var(--grey9);
  border-radius: 0px 0px 8px 8px;
  overflow-x: auto;
  border: var(--grey8) solid 1px;
}

.blog::-webkit-scrollbar {
  width: 5px;
}

.blog a {
  color: var(--grey0);
}

.blog .anchor {
  opacity: 0;
  position: absolute;
  text-decoration: none;
  margin-left: -20px;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
  transition: 0.1s opacity;
}

.anchor:hover {
  opacity: 1;
}

.anchor:after {
  color: var(--grey7);
  content: '#';
}

.blog blockquote {
  background-color: var(--grey8);
  font-style: italic;
  border-left: 2px solid var(--grey4);
  padding: 5px 10px 5px 20px;
  border-radius: 0px 5px 5px 0px;
}

.blog p > code {
  font-family: var(--font-mono);
  font-size: 12px;
  border: 1px solid var(--grey7);
  padding: 5px;
  border-radius: 5px;
}

.blog img {
  width: 100%;
  border-radius: 10px;
  transform: scale(1.05);
  margin: 30px 0;
}

.blog table {
  width: 100%;
  font-family: var(--font-display);
  border-radius: 12px;
  border-spacing: 0;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
  border: 1px solid var(--grey8);
}

.blog th {
  padding: 20px;
  text-align: left;
}

.blog thead {
  color: var(--grey0);
  background-color: var(--grey8);
}

.blog td {
  text-align: left;
  font-family: var(--font-sans);
  color: var(--grey4);
  width: fit-content;
  padding: 15px;
}

@media screen and (max-width: 500px) {
  .blog .anchor {
    margin-left: -15px;
  }
}
