:root {
  color-scheme: dark;

  --grey0: #e5e5e5;
  --grey1: #dbdbdb;
  --grey2: #b3b3b3;
  --grey3: #acacac;
  --grey4: #9c9c9c;
  --grey5: #6d6d6d;
  --grey6: #2c2c2c;
  --grey7: #3d3d3d;
  --grey8: #232323;
  --grey9: #161616;

  --delay0: 50ms;
  --delay1: 100ms;
  --delay2: 150ms;
  --delay3: 200ms;
  --delay4: 250ms;
  --delay5: 300ms;
  --delay6: 350ms;
  --delay7: 400ms;
  --delay8: 450ms;
  --delay9: 500ms;
  --delay10: 550ms;
  --delay11: 600ms;
  --delay12: 650ms;
  --delay13: 700ms;
  --delay14: 750ms;
  --delay15: 800ms;
  --delay16: 850ms;
  --delay17: 900ms;
  --delay18: 950ms;
  --delay19: 1000ms;

  --fade: enter 0.6s both;

  --wrapper: 675px;
  --bar-padding: 40px;

  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --font-display: 'Inter', var(--font-fallback);
  --font-sans: 'Sohne', var(--font-fallback);
  --font-mono: 'Fira', monospace;
}

@font-face {
  font-family: Inter;
  font-display: block;
  src: url(/fonts/inter.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: Fira;
  font-display: block;
  src: url(/fonts/fira_code.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Sohne;
  font-display: block;
  src: url(/fonts/sohne.woff2) format('woff2');
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  touch-action: manipulation;
}

body {
  color: var(--grey0);
  background-color: var(--grey9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-size: 16px;
}

p {
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--grey4);
}

a {
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
img {
  user-select: none;
}

a:not(a.exclude) {
  text-decoration-thickness: 2px;
  text-decoration-color: var(--grey4);
  transition: 0.1s linear;
  font-family: var(--font-sans);
}

a:not(a.exclude):hover {
  text-decoration-color: var(--grey5);
}

header p {
  margin: 5px 0;
}

header a {
  color: var(--grey0);
}

ul,
li {
  color: var(--grey4);
  font-family: var(--font-sans);
  margin-left: 20px;
}

.not_found {
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--grey9);
}

::-webkit-scrollbar-thumb {
  background: var(--grey7);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey5);
}

::-moz-selection {
  color: #e5e5e5;
  background: #3c3c3c;
}

::selection {
  color: #e5e5e5;
  background: #3c3c3c;
}

::placeholder {
  user-select: none;
  color: var(--grey4);
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --wrapper: 90vw;
    --bar-padding: 2vw;
  }
}
