:root {
  color-scheme: dark;

  --gray0: #e5e5e5;
  --gray1: #dbdbdb;
  --gray2: #b3b3b3;
  --gray3: #acacac;
  --gray4: #9c9c9c;
  --gray5: #6d6d6d;
  --gray6: #2c2c2c;
  --gray7: #3d3d3d;
  --gray8: #232323;
  --gray9: #161616;

  --focus-color: var(--gray7);

  --wrapper: 950px;
  --about-padding: 50px;

  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:focus-visible {
  outline: 2px solid var(--focus-color);
}

html,
body {
  background-color: var(--gray9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-size: 16px;
}

p {
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--gray4);
}

a {
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
img {
  user-select: none;
}

a:not(a.exclude) {
  text-decoration-thickness: 2px;
  text-decoration-color: var(--gray4);
  transition: 0.1s linear;
  font-family: var(--font-sans);
}

a:not(a.exclude):hover {
  text-decoration-color: var(--gray5);
}

body {
  min-height: 100vh;
}

::selection {
  color: #e5e5e5;
  background: #3c3c3c;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  min-height: 44px;
  min-width: 44px;
  background-color: var(--gray7);
  border-radius: 44px;
  border: 5px solid var(--bg);
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background: var(--gray9);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}

::-moz-selection {
  color: #e5e5e5;
  background: #3c3c3c;
}

::placeholder {
  color: var(--gray5);
  user-select: none;
}

.mapboxgl-canvas {
  pointer-events: none;
  touch-action: none;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.rehype-code-title {
  font-family: var(--font-mono);
  border: solid 1px var(--gray8);
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  padding: 10px 0px 10px 15px;
}

@media (max-width: 1024px) {
  :root {
    --wrapper: 700px;
    --about-padding: 25px;
  }
}

@media (max-width: 767px) {
  :root {
    --wrapper: 420px;
    --about-padding: 0px;
  }
}

@media (max-width: 424px) {
  :root {
    --wrapper: 97vw;
  }
}
