.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: var(--gray5);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #22c55e;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a855f7;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.regex,
.token.important,
.token.variable {
  color: #eab308;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3b82f6;
}

.token.function,
.token.class-name {
  color: #ec4899;
}
