.container {
  display: flex;
  justify-content: space-between;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  text-decoration: none;
}

.post:not(:last-child) {
  border-bottom: 1px solid var(--grey6);
}

.post {
  opacity: 1;
  transition: opacity 100ms ease;
}

.posts:hover .post:not(:hover) {
  opacity: 0.4;
}

.post h2 {
  font-family: var(--font-sans);
  margin-right: 100px;
}

.writing > p {
  margin: 10px 0px 10px 0px;
}

.loading {
  width: 275px;
  height: 30px;
  background-color: var(--grey8);
  border-radius: 5px;
  animation: load 1.5s linear infinite;
}

.box {
  display: flex;
  align-items: center;
  color: var(--grey4);
  margin-right: 15px;
}

.box > svg {
  margin-right: 5px;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.info {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.loading {
  width: 275px;
  height: 30px;
  background-color: var(--grey8);
  border-radius: 5px;
  animation: load 1.5s linear infinite;
}

.form {
  margin-top: 30px;
  font-family: var(--font-sans);
}

.form input {
  outline: none;
  border: 1px solid var(--grey6);
  padding: 12px 16px;
  background-color: var(--grey8);
  border-radius: 5px;
  margin-bottom: 5px;
  transition: 0.1s linear;
}

.form input:hover {
  border: 1px solid var(--grey5);
}

.form input:focus {
  border: 1px solid var(--grey4);
}

.form button {
  background-color: var(--grey0);
  color: var(--grey9);
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.form button:target {
  outline: 1px solid var(--grey0);
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
