---
import Layout from "../components/Layout.astro";
import Index from "../components/icons/Index.astro";
---

<Layout>
  <header>
    <div class="relative flex items-center">
      <a class="exclude absolute -ml-48 flex items-center" href="/">
        <Index />
        Index
      </a>
      <h1>404—not found</h1>
    </div>
    <p class="mt-6 font-light leading-snug">
      UI components have now moved to <a
        href="https://ui.harshsingh.xyz"
        rel="noreferrer"
        target="_blank">ui.harshsingh.xyz</a
      >
    </p>
  </header>
</Layout>
