---
import Layout from '../components/Layout.astro'
import Index from '../components/icons/Index.astro'
---

<Layout>
  <header>
    <div class='relative flex items-center'>
      <a class='exclude absolute -ml-48 flex items-center' href='/'>
        <Index />
        Index
      </a>
      <h1>404—not found</h1>
    </div>
    <p class='mt-6 font-light leading-snug'>
      All UI components have now been archived. <a
        href='mailto:h@harshsingh.me?subject=UI%20Components'>Contact me</a
      > if you'd like the code for any of them.
    </p>
  </header>
</Layout>
