@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral-50 text-neutral-950 dark:bg-neutral-900 dark:text-neutral-50;
  scrollbar-width: thin;
}

a:not(.exclude) {
  @apply underline decoration-neutral-300 transition-colors hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-500;
}

::selection {
  @apply bg-neutral-950 text-neutral-50 dark:bg-neutral-50/10 dark:text-current;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-50 dark:bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-400 dark:bg-neutral-800;
}

::-webkit-scrollbar-thumb:hover {
  @apply rounded-full bg-neutral-500 dark:bg-neutral-700;
}

.animate-children > * {
  @apply animate-intro opacity-0;
}

.animate-children > :nth-child(1) {
  @apply [animation-delay:200ms];
}

.animate-children > :nth-child(2) {
  @apply [animation-delay:250ms];
}

.animate-children > :nth-child(3) {
  @apply [animation-delay:300ms];
}

.animate-children > :nth-child(4) {
  @apply [animation-delay:350ms];
}

.animate-children > :nth-child(5) {
  @apply [animation-delay:400ms];
}

.animate-children > :nth-child(6) {
  @apply [animation-delay:450ms];
}

.animate-children > :nth-child(7) {
  @apply [animation-delay:500ms];
}

.animate-children > :nth-child(8) {
  @apply [animation-delay:550ms];
}

.animate-children > :nth-child(9) {
  @apply [animation-delay:600ms];
}

.animate-children > :nth-child(10) {
  @apply [animation-delay:650ms];
}

.animate-children > :nth-child(11) {
  @apply [animation-delay:700ms];
}

.animate-children > :nth-child(12) {
  @apply [animation-delay:750ms];
}

.animate-children > :nth-child(13) {
  @apply [animation-delay:800ms];
}

.animate-children > :nth-child(14) {
  @apply [animation-delay:850ms];
}

.animate-children > :nth-child(15) {
  @apply [animation-delay:900ms];
}

.animate-children > :nth-child(16) {
  @apply [animation-delay:950ms];
}

.animate-children > :nth-child(17) {
  @apply [animation-delay:1000ms];
}

.animate-children > :nth-child(n + 18) {
  @apply [animation-delay:1050ms];
}
