---
import RightArrow from "./icons/RightArrow.astro";
---

<header>
  <h1 class="animate-intro mb-6 font-semibold">Harsh Singh</h1>
  <div class="flex flex-col gap-y-3.5">
    <p
      class="animate-intro font-light leading-snug opacity-0 [animation-delay:0.2s]"
    >
      I'm a software and design consultant. This is my lil corner of the web
      where I share my work with y'all. <a
        href="mailto:hi.harsh@pm.me"
        rel="noreferrer"
        target="_blank"
        class="inline-flex items-center"
        >Let's work together
        <RightArrow />
      </a>
    </p>
    <div
      class="animate-intro flex items-center font-light opacity-0 [animation-delay:0.25s]"
    >
      <span class="text-neutral-500">Availability</span>
      <span
        class="ml-1.5 rounded border border-neutral-300 px-2 py-1 text-xs text-neutral-500"
        >Dec 2024—onwards</span
      >
    </div>
    <p class="animate-intro font-light opacity-0 [animation-delay:0.3s]">
      Besides that, I lift weights, shoot hoops, or just spend time outdoors.
    </p>
  </div>
</header>
