---
import RightArrow from "./icons/RightArrow.astro";
---

<header>
  <h1 class="font-semibold">Harsh Singh</h1>
  <p>
    I'm a software and design consultant. This is my lil corner of the web where
    I share my work with y'all. <a
      href="mailto:hi.harsh@pm.me"
      rel="noreferrer"
      target="_blank"
      class="inline-flex items-center underline"
      >Let's work together
      <RightArrow />
    </a>
  </p>
  <div class="flex items-center">
    <span class="text-neutral-500">Availability</span>
    <span
      class="ml-1 rounded border border-neutral-300 px-2 py-1 text-xs text-neutral-500"
      >Dec 2024—onwards</span
    >
  </div>
  <p>Besides that, I lift weights, shoot hoops, or just spend time outdoors.</p>
</header>
