---

---

<header>
  <h1 class='mb-6 animate-intro font-semibold'>Harsh Singh</h1>
  <div class='flex flex-col gap-y-3.5'>
    <p
      class='animate-intro font-light leading-snug opacity-0 [animation-delay:0.2s]'
    >
      I'm a founding engineer at a (currently) stealth startup. This is my lil
      corner of the web where I share my work with y'all.
    </p>
    <div
      class='flex animate-intro items-center font-light opacity-0 [animation-delay:0.25s]'
    >
      <span class='text-neutral-500'>Availability</span>
      <span
        class='ml-1.5 rounded border border-neutral-300 px-2 py-1 text-xs text-neutral-500'
        >Limited</span
      >
    </div>
    <p class='animate-intro font-light opacity-0 [animation-delay:0.3s]'>
      In my free time, I spend time outdoors, work on open source, and tinker
      around with all sorts of random computer stuff.
    </p>
  </div>
</header>
