---
import "../global.css";
import Footer from "./Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Harsh Singh</title>
  </head>
  <body>
    <div class="flex w-screen justify-center">
      <div
        class="mt-16 flex min-h-screen w-[90vw] flex-col justify-between xs:w-[500px]"
      >
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
