<main>
  <h2 class="font-medium">Where</h2>
  <div class="relative h-fit w-fit overflow-hidden">
    <img
      width="500"
      height="250"
      src="/map.webp"
      alt="Map with marker east of Dallas, Texas"
      loading="eager"
      class="rounded-xl"
    />
    <a
      href="https://en.wikipedia.org/wiki/Dallas"
      target="_blank"
      rel="noreferrer"
      class="absolute bottom-0 right-0 mb-3 mr-3 rounded-md border border-neutral-300 bg-neutral-50 px-2 py-1.5 text-xs text-neutral-600"
      >Dallas, TX</a
    >
    <div aria-hidden>
      <div
        class="animate-marker absolute left-2/3 top-1/2 z-10 h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-500"
      >
      </div>
      <div
        class="shadow-marker absolute left-2/3 top-1/2 z-10 h-7 w-7 -translate-x-1/2 -translate-y-1/2 rounded-full border-4 border-neutral-50 bg-blue-500"
      >
      </div>
    </div>
  </div>
</main>
