---
import Where from "./where.astro";
import Music from "./music.astro";
---

<main>
  <section class="mt-24">
    <div
      class="animate-intro relative left-1/2 flex w-[min(1024px,95vw)] -translate-x-1/2 flex-col gap-3 opacity-0 [animation-delay:0.4s]"
    >
      <div class="grid aspect-square grid-cols-4 grid-rows-4 gap-3">
        <div class="col-start-1 row-start-1">
          <Where />
        </div>
        <div class="col-start-2 row-start-1">
          <Music />
        </div>
        <div
          aria-hidden="true"
          class="col-span-2 col-start-3 row-span-2 row-start-1 aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="col-span-2 col-start-1 row-start-2 rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="col-span-2 col-start-1 row-span-2 row-start-3 aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="col-start-3 row-start-3 aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="col-start-3 row-start-4 aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="col-start-4 row-span-2 row-start-3 rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
      </div>
      <div class="grid grid-cols-2 gap-3">
        <div
          aria-hidden="true"
          class="aspect-[2/1] rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="aspect-[2/1] rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
      </div>
      <div class="grid grid-cols-4 gap-3">
        <div
          aria-hidden="true"
          class="aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
        <div
          aria-hidden="true"
          class="col-span-2 rounded-2xl bg-neutral-200 dark:bg-neutral-800"
        >
        </div>
      </div>
      <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col gap-3">
          <div
            aria-hidden="true"
            class="aspect-[2/1] rounded-2xl bg-neutral-200 dark:bg-neutral-800"
          >
          </div>
          <div
            aria-hidden="true"
            class="aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
          >
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <div
            aria-hidden="true"
            class="aspect-square rounded-2xl bg-neutral-200 dark:bg-neutral-800"
          >
          </div>
          <div
            aria-hidden="true"
            class="aspect-[2/1] rounded-2xl bg-neutral-200 dark:bg-neutral-800"
          >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
