.link {
  color: var(--grey0);
}

.h2,
.h3 {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 30px 0;
  width: fit-content;
}

.hash {
  margin-right: 8px;
  color: var(--grey4);
}

.code {
  position: relative;
  margin-bottom: 15px;
}

.copy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--grey9);
  border: solid 1px var(--grey8);
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.checked {
  border: solid 1px #4ade80;
  color: #4ade80;
}

.image {
  z-index: 1;
  height: 500px;
  width: 100%;
  margin: 150px 0 100px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image_wrapper {
  width: 100%;
  height: 100%;
  --img-blur: 42px;
  --img-scale: 1.5;
  --img-transition-duration: 1.2s;
  transform: translateZ(0);
  padding-bottom: var(--img-aspect-ratio);
  overflow: hidden;
  border-radius: 20px;
}

.image_wrapper > img {
  object-fit: cover;
  margin: 0px;
}

.blur {
  inset: 0;
  position: absolute;
  display: block;
  max-width: 100%;
  width: 100%;
}

.blur {
  font-size: 0;
  opacity: 0;
}

.blur_down .blur,
.blur_down .image {
  filter: blur(var(--img-blur));
  transform: scale(var(--img-scale));
}

.blur_down.loaded .blur {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.shadow {
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: #281563;
  width: 100%;
  height: 100%;
  overflow: visible;
  filter: blur(20px);
  opacity: 0.2;
  transform: scale(1.1);
  animation: fade 0.6s both;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 0.2;
    transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .blur_down .blur {
    transition: var(--img-transition-duration) ease;
    transition-property: filter, opacity, transform;
    will-change: filter, transform;
  }
}

@media screen and (max-width: 1024px) {
  .image {
    height: 70vw;
  }
}
