.about {
   padding-top: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.about-me {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 50%;
}

.about-header {
   font-size: 48px;
}

.about-description {
   padding-top: 20px;
}

.about-social {
   padding-top: 10px;
   display: flex;
}

.about-social-button {
   padding: 10px;
}

.social {
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   border: none;
   color: white;
   font-size: 20px;
   height: 40px;
   border-radius: 50px;
   padding: 10px;
   background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
   transition: 0.1s linear all;
}

.social:hover {
   transform: scale(1.1, 1.1);
}

.about-quotes {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding-top: 30px;
   width: 70%;
}

.about-quote {
   display: flex;
   align-self: center;
   justify-self: center;
   box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
   padding: 20px;
   font-size: 14px !important;
   background: #ebebeb;
   height: 120px;
   border-radius: 12px;
   color: #6D83F2;
   transition: 0.1s linear all;
}

.about-quote:hover {
   cursor: pointer;
   transform: translateY(-5px);
}

.quote-pad {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}