.contact {
   padding-top: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-head {
   font-size: 54px;
   padding-bottom: 30px;
}

.contact-box {
   padding-bottom: 50px;
}

.email {
   outline: none;
   width: 100%;
   color: white;
   border: none;
   background: transparent;
}

.env {
   background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
   color: white;
   font-size: 72px;
   padding: 50px;
   border-radius: 1000px;
   transition: 0.1s linear all;
}

.env:hover {
   cursor: pointer;
   transform: translateY(-5px);
}

.contact-border {
   width: 18.5%;
   color: white;
   padding: 10px;
   border-radius: 12px;
   background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
   transition: 0.1s linear all;
}

.contact-border:hover {
   cursor: pointer;
   transform: scale(1.05, 1.05);
}