.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding-left: 10%;
    width: 50%;
}

.intro-hi {
    font-size: 24px;
}

.intro-name {
    font-size: 72px;
}

.intro-miniDescription {
    font-size: 24px;
}

.intro-longDescription {
    font-size: 16px;
}

.intro-name {
    letter-spacing: 3px;
}

.intro-pad {
    padding: 5px;
}

.intro-buttons {
    width: 60%;
    display: flex;
    padding-top: 20px;
}

.intro-projects {
    border-radius: 10px;
    border: none;
    background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
    color: white;
    padding: 10px;
    font-size: 18px;
    transition: 0.1s linear all;
}

.intro-projects:hover {
    transform: scale(1.05, 1.05);
}

.proj-parent {
    padding-right: 50px;
}

.intro-img {
    display: flex;
    width: 300px;
    height: 310px;
    justify-self: right;
    margin-left: 50%;
    border-radius: 1000px;
    position: absolute;
    transition: 0.1s linear;
}

.intro-img:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

@media only screen and (max-width: 750px) {
    .intro {
        padding-top: 30px;
        width: 80%;
    } 
    .intro-img {
        display: none;
    }
}