.projects {
   width: 100%;
   padding-top: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.projects-header {
   font-size: 48px;
}

.card-pad {
   padding: 50px 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card {
   width: 700px;
   max-width: 800px;
   color: #6D83F2;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background: #ebebeb;
   border-radius: 12px;
   transition: 0.1s linear all;
}

.card:hover {
   cursor: pointer;
   transform: translateY(-5px);
}

.card-title {
   display: flex;
}

.card-description {
   display: flex;
   padding-top: 10px;
}

.project-buttons {
   display: flex;
   flex-direction: row !important;
}

.tags {
   display: flex;
}

.tech {
   margin: 0 5px;
   border-radius: 7px;
   padding: 5px;
   color: white;
   transition: 0.1s linear all;
}

.tech:hover {
   transform: scale(1.05, 1.05);
}

.mongo {
   background: #4DA84B;
}

.node {
   background: #54B45D;
}

.passport {
   background: #2EB9F1;
}

.express {
   background: #252525;
}

.socket {
   background: #686868;
}

.discord {
   background: #6781C1;
}

.skills-list {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
}

.check {
   margin: 5px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #4DA84B;
}

.skill {
   padding-left: 5px;
}

@media only screen and (max-width: 1000px) {
   .card {
      width: 600px;
   }
}

@media only screen and (max-width: 750px) {
   .card {
      width: 70%;
   }
}