.smaller-projects {
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.smaller-projects-grid {
   display: flex;
}

.mini-card-parent {
   padding: 40px;
   width: 30%;
}

.mini-card-description {
   padding-top: 10px;
}

.mini-card {
   height: 86%;
   border-radius: 12px;
   padding: 15px;
   background: #ebebeb;
   color: #6D83F2;
   text-align: center;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   transition: 0.1s linear all;
}

.ui-card {
   background: #ebebeb;
   padding: 10px 5;
}

.ui-card-parent {
   padding: 20px;
   width: 30%;
}

.mini-card:hover {
   cursor: pointer;
   transform: translateY(-5px);
}

.ui-card {
   box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
   height: 300px;
   border-radius: 12px;
   padding: 20px 10px;
   background: #ebebeb;
   color: #6D83F2;
   text-align: center;
   justify-content: center;
   align-items: center;
   width: 380px;
   display: flex;
   align-items: center;
   flex-direction: column;
   transition: 0.1s linear all;
   overflow: hidden;
}

.design-card {
   width: 500px;
   border-radius: 12px;
}

.ui-card:hover {
   cursor: pointer;
   transform: translateY(-5px);
}

.costoomz, .flight {
   width: 700px !important;
}

.awesomesource {
   width: 800px !important;
}

.trees {
   width: 600px !important;
}

.portfolio {
   width: 550px !important;
}

.codemyst {
   width: 500px !important;
}

@media only screen and (max-width: 1300px) {
   .ui-card {
      width: 320px;
   }
}

@media only screen and (max-width: 1200px) {
   .ui-card {
      width: 260px;
   }
}

@media only screen and (max-width: 1000px) {
   .smaller-projects-grid {
      display: flex;
      flex-direction: column;
   }
   
   .ui-card {
      width: 580px;
   }

   .grid-cen {
      display: flex;
      align-items: center;
   }

   .mini-card-parent {
      width: 50%;
   }
}

@media only screen and (max-width: 700px) {
   .ui-card {
      width: 450px;
   }

   .grid-cen {
      display: flex;
      align-items: center;
   }

   .mini-card-parent {
      width: 70%;
   }
}

