@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Inter",
    sans-serif;
  letter-spacing: -2%;
}

::selection {
  @apply bg-neutral-950 text-neutral-50;
}

img {
  @apply select-none;
}

a:not(.exclude) {
  text-decoration-style: wavy;
  @apply underline decoration-neutral-300;
}

.clock {
  --seconds-deg: calc((var(--now-s) / 60) * 360);
  --minutes-deg: calc(((var(--now-m) / 60) * 360) + ((var(--now-s) / 60) * 6));
  --hours-deg: calc(((var(--now-h) / 12) * 360) + ((var(--now-m) / 60) * 30));
  @apply relative m-0 flex h-5 w-5 rotate-180 items-center justify-center rounded-full border border-neutral-400;
}

.clock > * {
  @apply absolute left-1/2 top-1/2 rounded-full bg-neutral-500 [transform-origin:center_0];
}

.seconds {
  @apply h-2 w-px;
  transform: rotate(calc(var(--seconds-deg) * 1deg));
}

.minutes {
  @apply h-1.5 w-px;
  transform: rotate(calc(var(--minutes-deg) * 1deg));
}

.hours {
  transform: rotate(calc(var(--hours-deg) * 1deg));
  @apply h-1 w-px;
}
