.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
  z-index: 999;
}

.wrapper {
  border: 2px solid var(--grey8);
  background-color: var(--grey9);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  padding: 5px;
  z-index: 999;
}

.container {
  display: block;
}

.blur {
  top: 0;
  width: 100vw;
  position: fixed !important;
  z-index: 999;
  user-select: none;
  pointer-events: none;
  position: sticky;
  width: 100vw;
  height: 100px;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.95;
  -webkit-mask-image: linear-gradient(to bottom, var(--grey9) 10%, transparent);
}

.blur:after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, var(--grey9), transparent);
}

.bar {
  position: absolute;
  background: var(--grey7);
  height: 34px;
  z-index: -1;
  border-radius: 999px;
  top: 0;
  margin-top: 5px;
  opacity: 1;
  margin-left: -20px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  margin: 8px 20px;
  transition: 0.1s linear;
  user-select: none;
  z-index: 2;
}

.link:hover {
  color: var(--grey2);
}
