:root {
  --sh-class: rgb(163 163 163);
  --sh-identifier: rgb(10 10 10);
  --sh-sign: rgb(163 163 163);
  --sh-property: rgb(10 10 10);
  --sh-entity: rgb(10 10 10);
  --sh-jsxliterals: rgb(163 163 163);
  --sh-string: rgb(163 163 163);
  --sh-keyword: rgb(10 10 10);
  --sh-comment: #a19595;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: rgb(115 115 115);
    --sh-identifier: rgb(229 229 229);
    --sh-sign: rgb(115 115 115);
    --sh-property: rgb(229 229 229);
    --sh-entity: rgb(229 229 229);
    --sh-jsxliterals: rgb(115 115 115);
    --sh-string: rgb(115 115 115);
    --sh-keyword: rgb(229 229 229);
    --sh-comment: #a19595;
  }
}

.prose p {
  @apply mb-6 leading-snug tracking-tight;
}

.prose h2,
.prose h3,
.prose h4 {
  @apply mb-6 font-semibold;
}

.prose .anchor {
  @apply invisible absolute -ml-5 w-content cursor-pointer no-underline;
}

.prose .anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply mb-6 overflow-x-scroll rounded-lg border border-neutral-200 bg-white p-3 text-neutral-500 dark:border-neutral-700/50 dark:bg-neutral-800;
  line-height: 1;
}

.prose code {
  @apply text-xs leading-snug;
}

.prose p > code {
  @apply rounded border border-neutral-200 bg-white px-1.5 py-1 dark:border-neutral-700/50 dark:bg-neutral-800;
}
