nav {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f8f8f8;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
    z-index: 99999;
position: sticky;
	top: 0;

}

.logo {
    color: #6D83F2;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: #6D83F2;
    font-size: 18px;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: #2f2f2f;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px !important;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1600px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        height: 92vh;
        position: absolute;
        top: 8vh;
        right: 0px;
        background: #424242;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
