/* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(134deg, #4d81e0 0%, #2945cf 99%);
 }