.side-socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 5%;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.socials {
    font-size: 24px;
    background: transparent;
    color: #808080;
    padding: 10px 0;
}

.socials:hover {
    color: #4b4b4b;
}

.social-line-parent {
    display: flex;
    height: 30;
}

.social-line {
    width: 5px;
    height: 20%;
    background: #808080;
}

@media only screen and (max-width: 750px) {
    .side-socials {
        padding-left: 10px;
    }
}